h1 {
  color: black;
  text-align: center;
  font-weight: bold;
}

.wrapper {
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.mySlides {
  width: 100%;
}

#next {
  position: absolute;
  top: 45%;
  left: 0;
  padding: 10px;
  border-radius: 30px;
  background-color: lime;
  cursor: pointer;
}

#prev {
  position: absolute;
  top: 45%;
  right: 0;
  padding: 10px;
  border-radius: 30px;
  background-color: lime;
  cursor: pointer;
}

img {
  width: 958px;
  height: 578px;
}

body {
  background-color: #7ad2e6;
}